{include="header"}

<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12">
         <div class="page-header">
            <h1>
               <span class="glyphicon glyphicon-exclamation-sign"></span>
               {function="\L::access_denied__msg_access_denied"}
            </h1>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-8">
         <ul>
            <li>{function="\L::access_denied__you_cant_access_to_this_page"}</li>
            <li>{function="\L::access_denied__ask_your_admin"}</li>
            <li>{function="\L::access_denied__or_notify_a_bug"}</li>
         </ul>
      </div>
      <div class="col-sm-4">
         <div class="thumbnail">
            <img src='view/img/big_lock.png' alt='{function="\L::access_denied__msg_access_denied"}'/>
         </div>
      </div>
   </div>
</div>

{include="footer"}
