{include="header"}

{if="$fsc->rol"}
<script type="text/javascript">
   function fs_marcar_todo()
   {
      $("#f_rol_pages input[name='enabled[]']").prop('checked', true);
      $("#f_rol_pages input[name='allow_delete[]']").prop('checked', true);
   }
   function fs_marcar_nada()
   {
      $("#f_rol_pages input[name='enabled[]']").prop('checked', false);
      $("#f_rol_pages input[name='allow_delete[]']").prop('checked', false);
   }
   function check_allow_delete(counter)
   {
      if( $("#enabled_"+counter).is(':checked') )
      {
         $("#allow_delete_"+counter).prop('checked', true);
      }
      else
      {
         $("#allow_delete_"+counter).prop('checked', false);
      }
   }
   $(document).ready(function() {
      $("#b_eliminar_rol").click(function(event) {
         event.preventDefault();
         bootbox.confirm({
            message: '{function="\L::admin_rol__question_delete_rol( $fsc->rol->codrol )"}',
            title: '{function="\L::common__warning"}',
            callback: function(result) {
               if (result) {
                  window.location.href = 'index.php?page=admin_users&delete_rol={$fsc->rol->codrol}#roles';
               }
            }                
         });
      });
   });
</script>

<form action="{$fsc->rol->url()}" method="post" class="form" id="f_rol_pages">
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-6">
            <div class="btn-group">
               <a class="btn btn-sm btn-default" href="index.php?page=admin_users#roles">
                  <span class="glyphicon glyphicon-arrow-left"></span>
                  <span class="hidden-xs">&nbsp; {function="\L::common__roles"}</span>
               </a>
               <a class="btn btn-sm btn-default" href="{$fsc->rol->url()}" title='{function="\L::common__button_reload_page"}'>
                  <span class="glyphicon glyphicon-refresh"></span>
               </a>
            </div>
            <div class="btn-group">
               {loop="$fsc->extensions"}
                  {if="$value->type=='button'"}
                  <a href="index.php?page={$value->from}&codrol={$fsc->rol->codrol}{$value->params}" class="btn btn-sm btn-default">{$value->text}</a>
                  {/if}
               {/loop}
            </div>
         </div>
         <div class="col-sm-6 text-right">
            <a class="btn btn-sm btn-success" href="index.php?page=admin_users#nuevorol" title='{function="\L::admin_rol__button_new_role"}'>
               <span class="glyphicon glyphicon-plus"></span>
            </a>
            <div class="btn-group">
               {if="$fsc->allow_delete"}
               <a href="#" id="b_eliminar_rol" class="btn btn-sm btn-danger">
                  <span class="glyphicon glyphicon-trash"></span>
                  <span class="hidden-xs hidden-sm">&nbsp; {function="\L::common__button_delete"}</span>
               </a>
               {/if}
               <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
                  <span class="glyphicon glyphicon-floppy-disk"></span>
                  <span class="hidden-xs">&nbsp; {function="\L::common__button_save"}</span>
               </button>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-12">
            <div class="page-header">
               <h1>
                  <i class="fa fa-address-card-o" aria-hidden="true"></i>
                  Rol <small>{$fsc->rol->codrol}</small>
               </h1>
               <a href="{$fsc->rol->url()}&aplicar=TRUE" class="label label-success">
                  <i class="fa fa-check" aria-hidden="true"></i>{function="\L::common__button_apply"}
               </a>
               &nbsp; {function="\L::admin_rol__press_to_regenerate"}
            </div>
            <div class="form-group">
               <input type="text" name="descripcion" value="{$fsc->rol->descripcion}" class="form-control" autocomplete="off"/>
            </div>
         </div>
      </div>
   </div>
   <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
         <a href="#autorizar" aria-controls="usuarios" role="tab" data-toggle="tab">
            <i class="fa fa-check-square" aria-hidden="true"></i>
            <span class="hidden-xs">&nbsp; {function="\L::admin_rol__autorize"}</span>
         </a>
      </li>
      <li role="presentation">
         <a href="#usuarios" aria-controls="usuarios" role="tab" data-toggle="tab">
            <i class="fa fa-users" aria-hidden="true"></i>
            <span class="hidden-xs">&nbsp; {function="\L::common__users"}</span>
         </a>
      </li>
   </ul>
   <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="autorizar">
         <div class="table-responsive">
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th class="text-left">{function="\L::common__page"}</th>
                     <th class="text-left">{function="\L::common__menu"}</th>
                     <th class="text-center">{function="\L::admin_rol__view_modify"}</th>
                     <th></th>
                     <th class="text-center">{function="\L::admin_rol__delete_perms"}</th>
                  </tr>
               </thead>
               {loop="$fsc->all_pages()"}
                  <tr{if="$value->enabled"} class="{if="$value->allow_delete"}success{else}warning{/if}"{/if}>
                     <td>{$value->name}</td>
                     <td>
                        {if="$value->important"}
                        <span class="glyphicon glyphicon-star"></span> » {$value->title}
                        {elseif="$value->show_on_menu"}
                        <span class="text-capitalize">{$value->folder}</span> » {$value->title}
                        {else}
                        -
                        {/if}
                     </td>
                     <td class="text-center">
                        <input type="checkbox" id="enabled_{$counter}" name="enabled[]" value="{$value->name}" onclick="check_allow_delete('{$counter}')"{if="$value->enabled"} checked=""{/if}/>
                     </td>
                     <td class="text-center">
                        {if="$counter==0"}
                        <div class="btn-group">
                           <button class="btn btn-xs btn-default" type="button" onclick="fs_marcar_todo()" title='{function="\L::admin_home__select_all"}'>
                              <span class="glyphicon glyphicon-check"></span>
                           </button>
                           <button class="btn btn-xs btn-default" type="button" onclick="fs_marcar_nada()" title='{function="\L::admin_home__unselect_all"}'>
                              <span class="glyphicon glyphicon-unchecked"></span>
                           </button>
                        </div>
                        {/if}
                     </td>
                     <td class="text-center">
                        <input type="checkbox" id="allow_delete_{$counter}" name="allow_delete[]" value="{$value->name}"{if="$value->allow_delete"} checked=""{/if} title='{function="\L::admin_rol__user_can_delete_on_page"}'/>
                     </td>
                  </tr>
               {/loop}
            </table>
         </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="usuarios">
         <div class="table-responsive">
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th width="40"></th>
                     <th class="text-left">{function="\L::common__nick"}</th>
                     <th class="text-left">{function="\L::common__email"}</th>
                     <th class="text-right">{function="\L::common__last_login"}</th>
                  </tr>
               </thead>
               {loop="$fsc->all_users()"}
                  <tr{if="$value->included"} class="success"{/if}>
                     <td class="text-center">
                        {if="$value->admin"}
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        {else}
                        <input type="checkbox" id="enabled_{$counter}" name="iuser[]" value="{$value->nick}" {if="$value->included"} checked=""{/if}/>
                        {/if}
                     </td>
                     <td>
                        <a href="{$value->url()}">{$value->nick}</a>
                        {if="$value->admin"}
                        &nbsp; <span class="label label-warning">{function="\L::common__administrator"}</span>
                        {/if}
                     </td>
                     <td>{$value->email}</td>
                     <td class="text-right">{$value->show_last_login()}</td>
                  </tr>
               {/loop}
            </table>
         </div>
      </div>
   </div>
</form>
{else}
<div class="thumbnail">
   <img src="{#FS_PATH#}view/img/fuuu_face.png" alt="fuuuuu"/>
</div>
{/if}

{include="footer"}
