   {if="FS_DEMO"}
   <br/>
   <div class="container-fluid hidden-print bg-success">
      <div class="row">
         <div class="col-sm-12">
            <div class="page-header">
               <h3>
                  <i class="fa fa-question-circle" aria-hidden="true"></i>
                  {function="\L::footer__did_you_convinced"}
               </h3>
               <p class="help-block">
				   {function="\L::footer__help_demo_facturascripts"}
               </p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-3">
            <b>{function="\L::footer__installed_plugins"}</b>
            <ul>
               {loop="$GLOBALS['plugins']"}
               <li>
                  <a href='https://www.facturascripts.com/plugin/{$value}' target='_blank'>{$value}</a>
               </li>
               {/loop}
            </ul>
         </div>
         <div class="col-sm-6">
            <b>{function="\L::footer__advantatges"}</b>
            <ul>
               <li>{function="\L::footer__list_work_anywhere"}</li>
               <li>{function="\L::footer__simply_forms"}</li>
               <li>{function="\L::footer__free_software_and_updates"}</li>
               <li>{function="\L::footer__a_lot_of_plugins"}</li>
               <li>{function="\L::footer__professional_support"}</li>
            </ul>
         </div>
         <div class="col-sm-3">
            <a href='https://www.facturascripts.com/descargar?ref={function="base64_encode($fsc->user->email)"}' target="_blank" class="btn btn-lg btn-block btn-primary">
               <i class="fa fa-download" aria-hidden="true"></i>&nbsp;{function="\L::admin_home__downloads"}
            </a>
            <i class="fa fa-cloud" aria-hidden="true"></i>
            <i class="fa fa-windows" aria-hidden="true"></i>
            <i class="fa fa-linux" aria-hidden="true"></i>
            <i class="fa fa-apple" aria-hidden="true"></i>
            {function="\L::footer__multiplatform"}
         </div>
      </div>
      <div class="row">
         <div class="col-sm-12">
            <br/><br/><br/>
         </div>
      </div>
   </div>
   {else}
   <hr style="margin-top: 50px;" class="hidden-print"/>
   
   <div class="container-fluid hidden-print" style="margin-bottom: 10px;">
      <div class="row">
         <div class="col-sm-12">
            {if="FS_DB_HISTORY"}
               <div class="panel panel-default hidden-print">
                  <div class="panel-heading">
                     <h3 class="panel-title">{function="\L::footer__sql_queries"}</h3>
                  </div>
                  <div class="panel-body">
                     <ol style="font-size: 11px; margin: 0px; padding: 0px 0px 0px 20px;">
                        {loop="$fsc->get_db_history()"}<li>{$value}</li>{/loop}
                     </ol>
                  </div>
               </div>
               {loop="$fsc->extensions"}
                  {if="$value->type=='hidden_iframe'"}
                  <iframe src="index.php?page={$value->from}{$value->params}" width="100%"></iframe>
                  {/if}
               {/loop}
            {else}
               <div class="hidden">
               {loop="$fsc->extensions"}
                  {if="$value->type=='hidden_iframe'"}
                  <iframe src="index.php?page={$value->from}{$value->params}"></iframe>
                  {/if}
               {/loop}
               </div>
            {/if}
         </div>
      </div>
      <div class="row">
         <div class="col-sm-4 col-xs-6">
            <small>
               {function="\L::footer__created_with"} <a target="_blank" href="https://www.facturascripts.com">{function="\L::common__facturascripts"}</a>.
            </small>
         </div>
         <div class="col-sm-4 hidden-xs text-center">
            <span class="label label-default">{function="\L::footer__sql_queries"} {$fsc->selects()}</span>
            <span class="label label-default">{function="\L::footer__transactions"} {$fsc->transactions()}</span>
         </div>
         <div class="col-sm-4 col-xs-6 text-right">
            <span class="label label-default">
               <span class="glyphicon glyphicon-time" aria-hidden="true" title='{function="\L::footer__page_processed_in"} {$fsc->duration()}"'></span>
               &nbsp; {$fsc->duration()}
            </span>
         </div>
      </div>
   </div>
   {/if}
</body>
</html>
